__pycache__/
*.py[codz]
*$py.class

build/

.env
.venv
env/
venv/

models/

data/docs/01 ViPNet Coordinator HW 5. Подготовка к работе.pdf
data/docs/02 ViPNet Coordinator HW 5. Настройка в CLI.pdf
data/docs/03 ViPNet Coordinator HW 5. Настройка в WEB.pdf
data/docs/04 ViPNet Coordinator HW 5. Справочник.pdf
data/docs/06 ViPNet Coordinator HW 5. История версий.pdf
data/docs/07 ViPNet Coordinator HW 5. Перечень совместимых трансиверов.pdf
data/index

docker-compose.yml
Dockerfile